In [1]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np

In [6]:
df=pd.read_excel(r'D:\Downloads\Databse DNC para Projeto Re-sizing.xlsx',sheet_name='Database(2) -DNC')

In [3]:
df.head(5)

,Cod do cliente,Cliente é de pedido?,Produto,Cidade,Estado,Horário de acesso,Chassi do cliente,Capacidade do cliente (Un),Volume ideal entrega (Un)
0,10001,N,A,MARILIA,SP,8X5 08:00 SAT UNTIL 12:00,Y,2731,1842
1,3967,N,A,CARLOS BARBOSA,RS,11X5 07:00,X,1432,1061
2,2037,N,A,SAO PAULO,SP,24X7 00:00,X,6250,4737
3,2129,Y,A,DOMINGOS MARTINS,ES,9X4 07:00 FRI UNTIL 15:00,Y,12955,9546
4,2996,N,A,APARECIDA DE GOIANIA,GO,Sab - 08:00 -17:00,X,12728,8910

In [4]:
df.dtypes

Cod do cliente                 int64
Cliente é de pedido?          object
Produto                       object
Cidade                        object
Estado                        object
Horário de acesso             object
Chassi do cliente             object
Capacidade do cliente (Un)     int64
Volume ideal entrega (Un)      int64
dtype: object

In [ ]:
df2=pd.read_excel(r'D:\Downloads\Databse DNC para Projeto Re-sizing.xlsx',sheet_name='Database - DNC - Entregas ')

In [7]:
df2.head(5)

,data da entrega,Mês,ano,Cod do cliente,Volume descarregado (Un),Chassis size do cliente,Produto,Capacidade da carreta(Un),Chassis size da carreta
0,2020-01-06 08:00:00,1,2020,2512,6471,X,A,11905,X
1,2020-01-03 12:49:00,1,2020,7090,432,X,B,9410,Y
2,2020-01-03 09:00:00,1,2020,6502,1382,Y,B,9410,Y
3,2020-01-06 15:47:00,1,2020,2562,4095,X,C,8366,X
4,2020-01-07 10:24:00,1,2020,6606,386,X,C,8366,X

In [8]:
df2.dtypes

data da entrega              datetime64[ns]
Mês                                   int64
ano                                   int64
Cod do cliente                        int64
Volume descarregado (Un)              int64
Chassis size do cliente              object
Produto                              object
Capacidade da carreta(Un)             int64
Chassis size da carreta              object
dtype: object

In [9]:
df.isnull().sum()

Cod do cliente                0
Cliente é de pedido?          0
Produto                       0
Cidade                        0
Estado                        0
Horário de acesso             0
Chassi do cliente             0
Capacidade do cliente (Un)    0
Volume ideal entrega (Un)     0
dtype: int64

In [10]:
df2.isnull().sum()

data da entrega              0
Mês                          0
ano                          0
Cod do cliente               0
Volume descarregado (Un)     0
Chassis size do cliente      0
Produto                      0
Capacidade da carreta(Un)    0
Chassis size da carreta      0
dtype: int64

In [11]:
df3=pd.read_excel(r'D:\Downloads\Databse DNC para Projeto Re-sizing.xlsx',sheet_name='Database DNC - Fontes ')

In [12]:
df3.head(5)

   Código da fonte    Cidade Estado  Produto
0             4203  CAMACARI     BA    B/C/D
1             4200   CUBATAO     SP  A/B/C/D
2             4246  CURITIBA     PR    B/C/D
3             4204   RESENDE     RJ    B/C/D
4             4205   TIMOTEO     MG    B/C/D

In [14]:
df3.shape

(8, 4)