In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
a=[96, 96, 102, 102, 102, 104, 104, 108, 126, 126, 128, 128, 140, 156, 160,
160, 164, 170.]
b=[99, 97, 103, 106, 105, 107, 108, 112, 127, 129, 130, 132, 143, 161, 162,
164, 169, 174]

In [4]:
np.mean(a)

126.22222222222223

In [5]:
np.sum(a)/len(a)

126.22222222222223

In [6]:
np.max(a)

170.0

In [7]:
np.min(a)

96.0

In [8]:
np.std(a)

25.4024398555982

In [13]:
pd.Series(a).describe(percentiles=[.95])

count     18.000000
mean     126.222222
std       26.138895
min       96.000000
50%      126.000000
95%      164.900000
max      170.000000
dtype: float64

In [14]:
pd.Series(b).describe(percentiles=[.95])

count     18.000000
mean     129.333333
std       26.667892
min       97.000000
50%      128.000000
95%      169.750000
max      174.000000
dtype: float64

In [9]:
np.std(b)

25.916532689900215

In [16]:
df=pd.read_csv(r"D:\Downloads\Nova pasta\heart.csv")

In [17]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [18]:
df.corr()['target'].abs().sort_values(ascending=False)

target      1.000000
exang       0.436757
cp          0.433798
oldpeak     0.430696
thalach     0.421741
ca          0.391724
slope       0.345877
thal        0.344029
sex         0.280937
age         0.225439
trestbps    0.144931
restecg     0.137230
chol        0.085239
fbs         0.028046
Name: target, dtype: float64

In [19]:
df=pd.read_csv(r"D:\Downloads\877.csv")

In [20]:
dfNum = df[['Air temperature [K]', 'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]']]

In [21]:
desc = dfNum.describe()

In [25]:
desc

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
count,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910
std,2.000259,1.483734,179.284096,9.968934
min,295.300000,305.700000,1168.000000,3.800000
25%,298.300000,308.800000,1423.000000,33.200000
50%,300.100000,310.100000,1503.000000,40.100000
75%,301.500000,311.100000,1612.000000,46.800000
max,304.500000,313.800000,2886.000000,76.600000

In [35]:
dfNum.corr().abs()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm]
Air temperature [K],1.000000,0.876107,0.022670,0.013778
Process temperature [K],0.876107,1.000000,0.019277,0.014061
Rotational speed [rpm],0.022670,0.019277,1.000000,0.875027
Torque [Nm],0.013778,0.014061,0.875027,1.000000

In [27]:
np.var(desc['Air temperature [K]'])

10391230.472373245

In [ ]:
Air temperature [K]	Process temperature [K]	Rotational speed [rpm]	Torque [Nm]

In [33]:
for c in desc.columns:
    print(desc[c].name,np.var(desc[c]))

Air temperature [K] 10391230.472373245
Process temperature [K] 10373868.482375056
Rotational speed [rpm] 8426669.815971918
Torque [Nm] 10859812.524636395

In [ ]:
desc

In [ ]:
print("{:2f}".format(3.14159265359));

In [38]:
print("{:.2f}".format(3.14159265359));

3.14

In [43]:
a=[3, 6, 8, 2, 5, 4, 9, 1, 2, 13, 6, 10, 7, 14]
print(np.mean(a),np.sum(a))

6.428571428571429 90

In [47]:
a=[0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1]

In [50]:
a.count(1)/len(a)*100

46.37096774193548

In [51]:
dicionario = {'a':5, 'b':8.2, 'c':9, 'd':3, 'e': 100, 'f': 101, 'g': 210, 'h':12000, 'i':10000, 'j':1000000, 'k':-10**1000, 'l':-1000000}

In [52]:
def keywithmaxval(d):
     """ a) create a list of the dict's keys and values; 
         b) return the key with the max value"""  
     v = list(d.values())
     k = list(d.keys())
     return k[v.index(max(v))]

In [53]:
keywithmaxval(dicionario)

'j'