In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame([(0.0,np.nan,-1,-1),
                (np.nan,2,np.nan,np.nan),
                (2,3,np.nan,9),
                (np.nan,4,-4,16)],columns=list('abcd'))
df

     a    b    c     d
0  0.0  NaN -1.0  -1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

# Fill Value

In [6]:
fill_value=df.b.mean()
df["b"].fillna(fill_value)

0    3.0
1    2.0
2    3.0
3    4.0
Name: b, dtype: float64

In [11]:
fill_value=df.b.median()
df["b"] = df["b"].fillna(fill_value)
df

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [8]:
fill_value=15
df["b"].fillna(fill_value)

0    15.0
1     2.0
2     3.0
3     4.0
Name: b, dtype: float64

# DROP

In [15]:
df.dropna(subset=["a"])

     a    b    c    d
0  0.0  3.0 -1.0 -1.0
2  2.0  3.0  NaN  9.0

# Interpolate

In [19]:
df

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [21]:
df.interpolate(method='linear',limit_direction='forward',axis=0)

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  1.0  2.0 -2.0   4.0
2  2.0  3.0 -3.0   9.0
3  2.0  4.0 -4.0  16.0

In [20]:
df.interpolate(method='linear',limit_direction='backward',axis=0)

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  1.0  2.0 -2.0   4.0
2  2.0  3.0 -3.0   9.0
3  NaN  4.0 -4.0  16.0

# Forward / Backward Filling

In [22]:
df

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  NaN  2.0  NaN   NaN
2  2.0  3.0  NaN   9.0
3  NaN  4.0 -4.0  16.0

In [23]:
# method={'backfill','bfill','pad','ffill'}
df.fillna(method='bfill')

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  2.0  2.0 -4.0   9.0
2  2.0  3.0 -4.0   9.0
3  NaN  4.0 -4.0  16.0

In [26]:
df.fillna(method='ffill')

     a    b    c     d
0  0.0  3.0 -1.0  -1.0
1  0.0  2.0 -1.0  -1.0
2  2.0  3.0 -1.0   9.0
3  2.0  4.0 -4.0  16.0