In [1]:
import pandas as pd

In [2]:
iris_df = pd.read_csv(r"C:\Users\Rafael Pietro\OneDrive\Cursos\DNC\Datasets\Modelos Supervisionados\Classificação\iris.csv", index_col=0)

In [3]:
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [4]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [5]:
X = iris_df.drop(columns=["target_name", "target"])
Y = iris_df[["target"]]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [7]:
y_train.shape

(120, 1)

In [8]:
clf = GaussianNB()

In [9]:
clf.fit(X_train, y_train)

c:\Anaconda\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [10]:
y_pred = clf.predict(X_test)

In [11]:
y_pred

array([1, 1, 0, 1, 0, 2, 1, 2, 2, 2, 2, 1, 2, 1, 0, 1, 1, 0, 2, 0, 2, 2,
       0, 1, 0, 2, 1, 0, 2, 2], dtype=int64)

In [12]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_pred)*100

90.0