# Pandas

## Series

Series é um array unidimensional que contém um array de dados e um array de labels, chamado índice.

In [1]:
import pandas as pd

In [17]:
df=pd.read_csv(r"D:\Downloads\Accidents.csv")

In [18]:
df.head()

,Accident_Index,Number_of_Vehicles,Number_of_Casualties,Date,Time,Speed_limit,Road_conditions,Weather_conditions,Day,Road_type,Light_conditions
0,197901A1SEE71,2,1,1979-01-01,18:20,50.0,Snow,Unknown,Monday,Dual carriageway,Darkness lights lit
1,197901A2JDW40,1,1,1979-02-01,09:15,30.0,Snow,Unknown,Tuesday,Unknown,Daylight
2,197901A4IJV90,2,1,1979-04-01,08:45,30.0,Snow,Unknown,Thursday,Unknown,Daylight
3,197901A4NIE33,2,1,1979-04-01,13:40,30.0,Wet,Unknown,Thursday,Unknown,Daylight
4,197901A4SKO47,2,1,1979-04-01,18:50,30.0,Wet,Unknown,Thursday,Unknown,Darkness lights lit

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.describe()

       Number_of_Vehicles  Number_of_Casualties    Speed_limit
count       827861.000000         827861.000000  827861.000000
mean             1.986178              1.047212      33.340934
std              0.311600              0.253509       9.278129
min              1.000000              1.000000       0.000000
25%              2.000000              1.000000      30.000000
50%              2.000000              1.000000      30.000000
75%              2.000000              1.000000      30.000000
max             13.000000             60.000000     660.000000

In [21]:
df.isnull().sum()

Accident_Index          0
Number_of_Vehicles      0
Number_of_Casualties    0
Date                    0
Time                    0
Speed_limit             0
Road_conditions         0
Weather_conditions      0
Day                     0
Road_type               0
Light_conditions        0
dtype: int64

In [22]:
df.index

RangeIndex(start=0, stop=827861, step=1)

In [23]:
df.columns

Index(['Accident_Index', 'Number_of_Vehicles', 'Number_of_Casualties', 'Date',
       'Time', 'Speed_limit', 'Road_conditions', 'Weather_conditions', 'Day',
       'Road_type', 'Light_conditions'],
      dtype='object')

In [24]:
df.values

array([['197901A1SEE71', 2, 1, ..., 'Monday', 'Dual carriageway',
        'Darkness lights lit'],
       ['197901A2JDW40', 1, 1, ..., 'Tuesday', 'Unknown', 'Daylight'],
       ['197901A4IJV90', 2, 1, ..., 'Thursday', 'Unknown', 'Daylight'],
       ...,
       ['2018983120618', 2, 1, ..., 'Friday', 'Single carriageway',
        'Daylight'],
       ['2018983121918', 2, 1, ..., 'Wednesday', 'Single carriageway',
        'Daylight'],
       ['2018983133818', 2, 1, ..., 'Thursday', 'Single carriageway',
        'Daylight']], dtype=object)

In [25]:
df.dtypes

Accident_Index           object
Number_of_Vehicles        int64
Number_of_Casualties      int64
Date                     object
Time                     object
Speed_limit             float64
Road_conditions          object
Weather_conditions       object
Day                      object
Road_type                object
Light_conditions         object
dtype: object

In [29]:
df['Number_of_Vehicles'].mean()

1.9861776312690174

In [30]:
df[:2] #Retorna as 2 primeiras linhas

,Accident_Index,Number_of_Vehicles,Number_of_Casualties,Date,Time,Speed_limit,Road_conditions,Weather_conditions,Day,Road_type,Light_conditions
0,197901A1SEE71,2,1,1979-01-01,18:20,50.0,Snow,Unknown,Monday,Dual carriageway,Darkness lights lit
1,197901A2JDW40,1,1,1979-02-01,09:15,30.0,Snow,Unknown,Tuesday,Unknown,Daylight

In [31]:
df[2:4] #Linha 2 a 4

,Accident_Index,Number_of_Vehicles,Number_of_Casualties,Date,Time,Speed_limit,Road_conditions,Weather_conditions,Day,Road_type,Light_conditions
2,197901A4IJV90,2,1,1979-04-01,08:45,30.0,Snow,Unknown,Thursday,Unknown,Daylight
3,197901A4NIE33,2,1,1979-04-01,13:40,30.0,Wet,Unknown,Thursday,Unknown,Daylight